.fullBackgroundImage{
  background-image: url("./Wander.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
}

#homepageContainer{
  font-family: 'Sacramento', sans-serif;
  font-size: 80%;
}