html body{
  font-family: 'Montserrat', sans-serif;
  color: midnightblue;
}
html body a{
  color: midnightblue;
}

.fullBackgroundImage{
  background-image: url("./Wander.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow: auto;
}

.spaceAround{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}

#navBarBrand{
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: midnightblue;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

#homepageContainer{
  font-family: 'Sacramento', cursive;
  font-size: 12rem;
  color: darkslateblue;
  text-shadow: .25rem .25rem rgb(72, 61, 139, 0.3)
}

#offsetTitle{
  margin-left: -8rem;
}

.verticalCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.defaultButton{
  background-color: rgb(72, 61, 139) ;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  margin: 1rem;
  color: gainsboro;
  border: none;
  border-radius: 0.5rem;
  width: 8rem;
  /* border-color: rebeccapurple; */
  /* box-shadow: 0.3vh 0.3vh rgb(72, 61, 139, 0.6) */
}

.container.formParentContainer{
  background-color: rgb(220, 220, 220, 0.4);
  text-align: center;
  border: 1px solid midnightblue;
  /* height: auto;
  width: auto; */
  height: 80%;
  width: 40%;
  justify-content: space-evenly;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: midnightblue;
}

.formContainer.container form.formElement{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.25rem;
  justify-content: space-evenly;
}

.form-group.setWidth{
  width: 150%;
  padding-bottom: 5%;
}

.formContainer{
  padding: 1rem;
  width: 100%;
}

.formHeaderText{
  font-size: 1.75rem;
  margin: 0.5rem;
}

.form-control.formSubmit{
  background-color: rgb(72, 61, 139) ;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
  color: gainsboro;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  width: 8rem;
  /* border-color: rebeccapurple; */
  /* box-shadow: 0.3vh 0.3vh rgb(72, 61, 139, 0.6) */
}

.backgroundColor{
  background-color: lavender;
  background-size: cover;
  overflow: auto;
  height: 100vh;
}

.navbar-nav.navBarSettings{
  font-size: 1.25rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar-light #navBarContainer .navbar-nav.navBarSettings .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: midnightblue !important;
}

.container.spaceBetween{
  justify-content: space-between;
}

#logoutButton{
  font-size: 1rem;
  width: 6rem;
}

#navbarContainer{
  justify-content: space-between;
}

.col-auto.flexColumnColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#avatarButton{
  font-size: 1rem;
  width: 10rem;
}

#questionnaireButton{
  font-size: 0.75rem;
  width: 8rem;
}

#premiumButton{
  font-size: 0.75rem;
  width: 10rem;
}

#viewDetailsButton{
  font-size: 1rem;
  width: 8rem;
}

#filterButton{
  font-size: 1.25rem;
  width: 6rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

#clearFiltersButton{
  font-size: 1rem;
  width: 8rem;
}

#filterSubmit{
  font-size: 1rem;
  width: 8rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

#addActivityButton{
  font-size: 1rem;
  width: 10rem;
}

#addImageButton{
  font-size: 1rem;
  width: 12rem;
}

#saveItineraryButton{
  font-size: 1.25rem;
  width: 12rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

#goBackButton{
  font-size: 1.25rem;
  width: 12rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

#questionnaireSubmit{
  padding-top: 0rem;
  padding-bottom: 0rem;
}

#avatarSubmitButton{
  font-size: 1rem;
  width: 6rem;
}

#markTraveledButton{
  font-size: 1.25rem;
  width: 12rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

#showReviewsButton{
  font-size: 1.25rem;
  width: 12rem;
}

#hideReviewsButton{
  font-size: 1.25rem;
  width: 12rem;
  margin-top: 0rem;
}

#showReviewFormButton{
  font-size: 1rem;
  width: 12rem;
  margin-top: 2rem;
}

#submitReviewInput{
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

#profileInfoContainer{
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid rgb(72, 61, 139);
  border-radius: 2em;
  padding-left: 2rem;
  padding-right: 2rem;
}

#profileContainer{
  width: 100%;
  padding-right: 8rem;
  padding-left: 8rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

div.container-fluid.previewHeader{
  width: 100%;
  padding-right: 8rem;
  padding-left: 8rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

div.container-fluid.previewContainerNoItineraries{
  width: 100%;
  padding-right: 8rem;
  padding-left: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#itineraryCard{
  text-align: center;
  background-color: lavender;
  border: none;
  max-width: 25vw;
  margin-bottom: 2rem;
}

#itineraryCardBody{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
}

#itineraryCardTitle{
  margin-top: 1.5rem;
}

#itineraryCardFooter{
  padding: 0px;
  background-color: lavender;
  border: none;
}

#itineraryCardImg{
  object-fit: cover;
}

#itineraryMatch{
  z-index: 1; 
  position: absolute; 
  top: 0.5rem; 
  right: 0.5rem; 
  text-align: right; 
  width: auto; 
  background-color: rgb(255, 255, 255, 0.8); 
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  border-radius: 12rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

#itineraryHeart{
  z-index: 1; 
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

div.container-fluid.containerWidth{
  width: 100%;
  padding-right: 8rem;
  padding-left: 8rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.card.cardPadding{
  padding: 1rem;
}

#filterModal{
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 20vw;
}

#filterModal .modal-content{
  background-color: lavender;
  min-height: 100vh;
}

#filterModalBody.modal-body{
  display: flex;
  justify-content: center;
}

#filterModal label.form-label{
  font-weight: bold;
}

#filterModal form div.container{
  padding-bottom: 1rem;
}

#saveItineraryModal .modal-content{
  background-color: lavender;
}

#randomItineraryModal .modal-content{
  background-color: lavender;
}

#saveItinerarySaveButton{
  font-size: 1rem;
  width: 6rem;
}

#saveItineraryCancelButton{
  font-size: 1rem;
  width: 6rem;
}

#upgradeButton{
  font-size: 1rem;
  width: 6rem;
}

#upgradeCancelButton{
  font-size: 1rem;
  width: 6rem;
}

#tryAgainButton{
  font-size: 1rem;
  width: 8rem;
}

#chooseForMeButton{
  font-size: 1rem;
  width: 10rem;
  margin-top: 2rem;
}

#randomItineraryModal .modal-body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -2rem;
}

#randomItineraryModal .modal-footer{
  display: flex;
  flex-direction: column;
  justify-content: center
}

#randomItineraryModal .modal-title{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0.5rem;
}

#randomItineraryModal .modal-header button.close{
  margin-left: 0rem;
  padding-left: 0rem;
}

#itineraryListContainer{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#randomItineraryRow{
  margin-top: 4rem;
  margin-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#itineraryListThumbnailContainer{
  margin-top: 2rem;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#recItineraryListContainer{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#recItineraryListThumbnailContainer{
  margin-top: 2rem;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#myJourneysListContainer{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#myJourneysSummaryContainer{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#submitFormRadioRow{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#submitFormRangeRow{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#submitTripFormContainer{
  width: 100%;
  padding-right: 8rem;
  padding-left: 8rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#submitTripFormContainer .row{
  margin-top: 2rem;
}

#activitiesForm{
  margin-bottom: 3rem;
}

#submitTripFormContainer .form-label{
  font-weight: bold;
  /* color: midnightblue; */
}

form#trip-form div.innerFormWidth.row{
  margin-left: auto;
  margin-right: auto;
}

#itineraryDetailHeader{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#itineraryName{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#itineraryDescription{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#itineraryCategoryRow{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#dayListRow{
  flex-direction: column;
}

#activityListRow{
  flex-direction: column;
  padding-left: 2rem;
}

#activityListItemTab{
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#tabContentRow{
  margin-top: 1rem;
}

#scheduleHeaderRow{
  justify-content: center;
  margin-bottom: 2rem;
}

#dayListRow .nav.nav-tabs a.nav-link.active{
  background-color: midnightblue;
  color: gainsboro;
}
#dayListRow .nav.nav-tabs{
  border-bottom-color: rgb(72, 61, 139, 0.1);
}

#photoGalleryCarousel .carousel-caption{
  position: relative;
  left: auto;
  right: auto;
  /* color: midnightblue; */
  
}

#carouselImageCaption{
  width: auto;
  color: midnightblue;
  margin-left: auto;
  margin-right: auto;
}

#carouselImage{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  /* max-width: 50vw; */
  object-fit: cover;
}

#carouselImageContainer{
  display: flex;
  justify-content: center;
}

#photoGalleryCarousel{
  width: 50vw;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#itineraryDetailsButtonRow{
  justify-content: center;
}

#itineraryCategoryRow.row h5.col{
  border: 1px solid midnightblue;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#scheduleContainer{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#reviewsContainer{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
}

#reviewerImageCol{
  padding-right: 0rem;
  margin-right: auto;
  text-align: center;
}

#wholeReviewContainer{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#reviewerUsernameRow{
  text-align: right;
  font-weight: bold;
  padding-right: 2rem;
  margin-top: 0rem;
  margin-right: 0rem;
  width: 100%;
  margin-bottom: 1rem;
}

#reviewCommentAndImageRow{
  align-items: center;
}

#reviewsContainer .col-sm-11 .row .col{
  padding-right: 0rem;
}

#shownItineraryReviewsRow{
  flex-direction: column;
}

#hiddenItineraryReviewsRow{
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

#hiddenReviewFormRow{
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#showReviewFormRow{
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

#questionnaireParentContainer{
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 220, 220, 0.4);
  border: 1px solid midnightblue;
  /* height: auto;
  width: auto; */
  height: 70%;
  width: 50%;
  justify-content: space-evenly;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  color: midnightblue;
}

#questionnaireParentContainer form.formElement .row{
  align-items: baseline;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
  /* width: 90%;
  margin-left: auto;
  margin-right: auto; */
}

#questionnaireParentContainer form.formElement .row.radioRow{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#questionnaireParentContainer form.formElement .form-label{
  font-weight: 600;
}

#avatarFormContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#avatarFormContainer .row{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#myJourneysListContainer .row.thumbnailRow{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#upgradeCreditCardForm{
  width: 75%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 2rem; 
  margin-bottom: 1rem;
}


/* #avatarPicture{
  margin-bottom: 1rem;
  border: 3px solid red;
} */

/* 
input[type=range]::-webkit-slider-runnable-track{
  background: darkslateblue;
  border-radius: 2rem;
  cursor: pointer;
  height: 0.5rem;
  align-self: center;
}

input[type=range]::-webkit-slider-thumb{
  height: 4rem;
  background: darkslateblue;
}

input[type=range]{
  height: 2rem;
} */